<!DOCTYPE html>
<html>
<head>
    <title>Schowki</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<h2>Usuwanie</h2>
<p>
Czy masz pewność,
że chcesz usunąć wybrany obiekt i wszystko co jest w nim umieszczone?
Wszystko poniżej zostanie usunięte:
</p>
<p>
{{ body|safe }}
</p>
<form action="{{request.path}}" method="POST">
    <input type="submit" value="Tak, usuń wszystko powyżej">
    <input type="button" value="Nie" onclick="history.go(-1);">
</form>
</body>
</html>
