<!DOCTYPE html>
<html>
<head>
    <title>{{_('Inventory')}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<h1>{{_('Removal')}}</h1>
<p>
{{_('
Are you sure you want to delete the selected item and everything stored inside?
Everything that will be deleted:
')}}
</p>
<p>
{{ body|safe }}
</p>
<form action="{{request.path}}" method="POST">
    <input type="submit" value="{{_('Yes, remove everything above')}}">
    <input type="button" value="{{_('No')}}" onclick="history.go(-1);">
</form>
</body>
</html>
